*{
  font-family: "Potta One", system-ui;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #333333;
  }
  .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
}
.button:hover {background-color:  #1038ec}

.button:active {
  background-color:  #1038ec;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}

body{
    background-color:#fdfdfd;
    text-align:center;
    margin: 10vh;

}
h1 {
    color: #1038ec;
    text-shadow: 3px 3px 4px black;
    font-size:160px;
  
  }
  
  .button2 {
    display: inline-block;
    padding: 20px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #333333;
    margin: 5vh;
    
  }
  .button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
}
.button2:hover {background-color:  #1038ec}

.button2:active {
  background-color:  #1038ec;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}
.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
  margin: 5vh;
  
}
.button3 {
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #04AA6D;
border: none;
border-radius: 15px;
box-shadow: 0 9px #333333;
}
.button3:hover {background-color:  #1038ec}

.button3:active {
  background-color:  #1038ec;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}