body{
    background-color:#1038ec;
    text-align:center;
    margin: 5px;
    line-height: 1.5;
    padding: 50px;
    display: inline-block;
    

}

*{
    font-family: "Potta One", system-ui;
  }

h1{
    display:center;
    height: 15vh;
    text-shadow: 2px 2px 3px rgb(27, 26, 26);
    font-size:80px;

}
h2{
    padding: 8%;
}
div{
    background-color:white;
    padding: 100px;
}
.buttonX {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1038ec;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .buttonX {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #6b6b6b;
}
.button:hover {background-color: #3e8e41}

.buttonX:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  .fund{
    border: solid;
    border-style:groove;
    border-color: black;
  }